<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Face Analyser with Deep Learning</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <script src="https://www.cssscript.com/demo/simple-typewriter-effect-pure-javascript-typewriterjs/typewriter.js"></script>

  </head>

  <body>
    <!-- Heading Nav Menu (Responsive Design) -->
    <header>
    </header>

      <!-- Main -->
      <div class="section no-pad-bot" id="index-banner">
        <div class="container">
          <br><br>
          <h1 class="center orange-text">Face Analysis with Deep Learning</h1>
          <div class="center">
            <h5 class="col light" style="margin-bottom: 5px;">Real-Time Mode
            </h5>
            <form action="/index2" method="get">
              <button type="submit" value="Analysis Mode">Filter Mode</button>
            </form>
      </div>
    </div>

        <!-- Live Camera Window -->
        
        <div class="center">
          <div class="child container1" style="margin-bottom: 2px;"><!--<video controls><source src="{{ url_for('video_feed2') }}">--></video>
            <img src="{{ url_for('video_feed2') }}" ></div>
            <form action="/index1_2" method="get">
              <input type="submit" value="Pause">
            </form>

        </div>

        <!-- End Button -->

      <div>
        
        <input type="button" value="End Program"
          onClick="window.open('about:blank', '_self').close()">
    </div>
    <div id="hello">
    </div>
    <!-- Footer -->
    <footer class="btm">
      <p>&copy; Mohamad Azrai</p>
    </footer>
    
    <script type="text/javascript">
      var app = document.getElementById('hello');

      var typewriter = new Typewriter(hello, {
          loop: true
      });

      typewriter.typeString('Hello! I am Azrai')
          .pauseFor(2500)
          .deleteAll()
          .typeString('Nice to meet you')
          .pauseFor(2500)
          .deleteChars(16)
          .typeString('Let\'s get started!')
          .pauseFor(2500)
          .start();
  </script>
  </body>

</html>